
/* 
Color Scheme
#156618 green
#72786C - grey 
#0F3266 - blue 
*/

/* General */
img, object {
    max-width: 100%;
    height: auto;
}

img {
    border-radius: 50%;
}

html {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6rem;
   
}

body {
    background-color: #ffffff;
    margin: 0rem;
    font-size: .75;
}

main div {
    margin: 2rem;
}

h1,
h2,
h3 {
    font-family: 'Vollkorn', serif;
    color: #156618;
    font-size: .75rem;
}

p {
    color: #0F3266;
    font-size: .75rem;
}

figure {
    margin: 0rem;
}


/*Navigation*/
header nav{
    background-color: #0F3266;
    padding-top: 2.3rem;
    padding-bottom: 2rem;
}

header nav ul {
    list-style-type: none;
    text-align: left;
    margin: 0rem;
    font-size: .75rem;
    padding-left: 2rem; 
}

header nav ul li { 
    margin-bottom: .5rem;
    color: #ffffff;
        
}

header nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;  
}

header nav ul li a:hover {
    background-color: #ffffff;
    padding: .4rem  .7rem;
    color: #022b3a;
}

/* Masthead */
.masthead {
    background-color: #94660F;
    background-image: url(../img/wind-energy.jpg); 
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 9rem;
    color: #FFFAF7;
}

main div.masthead {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
}


.masthead h1 {
    color: #ffffff;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.mh-btn {
    color: #ffffff;
    background-color: #156618;
    border-color: #156618;
    border-style:solid;
    padding: .7rem;
    font-size: .75rem;

}

.mh-btn:hover {
    color: #156618;
    background-color: #ffffff;
    border-color: #ffffff;
}


/* Controls */

#active-button {
    color: #156618;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: .5rem;
    border-color: #156618;
    font-size: .75rem;
}

.controls button {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    background-color: #ffffff;
    color: #0F3266;
    border-color: #0F3266;
    border-style: hidden;
    border-bottom-style: solid;
    border-width: .3rem;
    font-size: .75rem;
    
}

.controls button:hover {
  
    color: #156618;
    border-color: #156618;
  
    
}

.controls ul li {
    margin-right: 1rem;
    display: inline-block;

}

.controls ul {
  padding-left: 0rem;

}

/* Dynamic Content */

.dynamic-content h2{
    margin-bottom: 2rem;

}

.dynamic-content p {
    font-size: .75rem;
}


/* Footer */

footer {
    background-color: #0F3266;
    margin: 0rem;
    padding: .5rem;
    clear: both;

}

footer p {
    text-align: center;
    color: #ffffff;
    font-size: .75rem;
}




/* Social Media */
.social-media ul {
    list-style-type: none;
    padding-left: 0;
    text-align: left;
    margin: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.social-media ul li {
    display: inline-block;
    margin-right: 2rem;
}


.social-media ul li a i {
    color: #ffffff;
   
}

.social-media ul li a i:hover {
    color: #b9c8d2;

}


/***** MEDIA QUERIES******/
@media only screen and (min-width: 60rem) {



    body, .mh-btn, #active-button, .controls button, .dynamic-content h2, .dynamic-content p {
        font-size: 1rem;
    }

    img {
        max-width: 25%;
        float: left;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    main div {
        margin: 2rem 8rem;
    }
   

    header nav ul {
        text-align: center;
       

    }

    
    header nav ul li { 
       
        margin-right: 5rem;
        display: inline-block;
           
    }


    header nav ul a {
        font-size: 1rem;
        border-style: solid;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        

    }
    header nav ul li a:hover {
        background-color: #ffffff;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        color: #0F3266;
    }

    .masthead { 
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6rem;
        padding-left: 8rem;
        padding-right: 8rem;
    }

    .masthead h1 {
        color: #0F3266;
        font-size: 1.5rem;
    }

    .social-media ul {
        margin: 2rem 8rem;
    }

    footer {
        margin-top: 2rem;
    }

 

    
}


